@import "tailwindcss";
@plugin "@tailwindcss/typography";

.ql-tooltip.ql-editing{
    position: fixed !important;
    left: 50% !important;
    top: 30% !important;
    transform: translate(-50%,-50%) !important;
    z-index: 1000;
}